<h1></h1>
<% if flash[notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>

　　　<tr>
<th>Title:</th>
<th><%= @book.title %></th>
<th></th>
</tr>

<p></p>

　　　<tr>
<th>Body:</th>
<th><%= @book.body %></th>
<th></th>
</tr>
<p></p>


<%= link_to "Edit", "/books/edit" %>
<%= link_to :back do %>
  <button>Back</button>
<% end %>
