<h1></h1>
<% if flash[:created] %>
  <p class="success-massage"><%= flash[:created] %></p>
<% end %>

<% if flash[:updated] %>
  <p class="success-massage"><%= flash[:updated] %></p>
<% end %>

<table>
<thead>
<tr>
<th>Title:</th>
<th><%= @book.title %></th>
<th></th>
</tr>
</tr>
</thead>

<p></p>

<tr>
<th>Body:</th>
<th><%= @book.body %></th>
<th></th>
</tr>
<p></p>


<div class="link clearfix">
			<p class="link-item"><%= link_to 'Edit', edit_book_path %></p>
			<p class="link-item">｜</p>
			<p class="link-item"><%= link_to 'Back', books_path %></p>
		</div>
